<%- include("header") -%>

<h2>This is the about page</h2>

<p>Made With Love By Tikoo !</p>
<p>Now Keep track of your everyday to-do tasks and never mmiss on anything!</p>

<%- include("footer") -%>
